@include xxxlg-xxxxlg {

    //
    .category {
        font-size: 12px;

        &__inner {
            .product__row .card {
                width: calc(33.3% - 2.4em - 2px);
            }

            // .sidebar {
            //   width: 25rem;
            // }
        }
    }
}

@include xxlg-xxxlg {

    // header start
    .header {
        &__logo {
            width: 120px;

            img {
                width: 100%;
            }
        }

        &__column {
            width: 250px;
            margin-right: 30px;

            &:last-child {
                width: calc(100% - 270px);
                margin-right: 0;
            }

            &-row {
                margin-left: 15px;
            }
        }
    }

    .dropdown {
        &__btn {
            width: 60px;

            i {
                font-size: 16px;
            }
        }
    }

    // header end
    // index page start
    .product {
        font-size: 10px;

        &__row {
            .card {
                width: calc(20% - 2.4em - 2px);
            }
        }
    }

    // index page end
    .hero {
        font-size: 13px;

        &__slider {
            height: 35.6em;
            overflow: hidden;
        }
    }

    // basket page start
    .basket {
        .table {
            font-size: 12px;
        }
    }

    // basket page end
}

@include xlg-xxlg {
    .hero {
        font-size: 10px;

        &__slider {
            &-item {
                img {
                    @include fullImage;
                }
            }
        }
    }

    // index page start
    .product {
        font-size: 10px;

        &__row {
            .card {
                width: calc(25% - 2.4em - 2px);
            }
        }
    }

    // index page end
    // category page start
    .category {
        font-size: 12px;

        &__inner {
            .product__row .card {
                width: calc(50% - 2.4em - 2px);
            }
        }
    }

    // category page end
    // basket page start
    .basket {
        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        .table {
            font-size: 12px;
            width: 100%;

            &__row {
                flex-direction: column;
                -ms-flex-direction: column;
            }

            &__column {
                width: 100%;

                &-incriment {
                    justify-content: flex-start;
                    margin-left: 5px;
                }

                &-price {
                    text-align: left;
                }
            }
        }

        .sidebar {
            width: 100%;

            &__info {
                margin: 0 15px;

                &-column {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    // basket page end
    // delivery page start
    .delivery {
        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        .table {
            font-size: 12px;
            width: 100%;

            &__header {
                display: none;
            }

            &__row {
                flex-direction: column;
                -ms-flex-direction: column;
            }

            &__column {
                width: 100%;

                &-price {
                    text-align: right;
                    width: calc(100% - 6.6em);
                }

                &-quant {
                    text-align: center;
                    width: 6.6em;
                    font-weight: 700;
                    padding: 1em 0;
                }
            }
        }

        .sidebar {
            width: 100%;

            &__info {
                margin: 0 15px;

                &-column {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    // delivery page end
    // detail page start
    .detail {
        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        &__slider {
            width: calc(100% - 17em);

            &-outer {
                width: 100%;
            }

            &-item {
                img {
                    width: 50%;
                }
            }

            &-nav {
                width: 15em;

                &-item {
                    img {
                        width: 50%;
                    }
                }
            }
        }

        &__content {
            margin-left: 0;
            width: 100%;
            padding: 50px 0;
        }
    }

    // detail page end
}

@include xh-xxh {
    .modal {
        height: 100vh;

        &__inner {
            margin: 2em auto;
            top: 20px;
            @include transformReset;
            @include transformX;
        }
    }
}

@include lg-xlg {
    html {
        font-size: 10px;
    }

    .about {
        padding-top: 3.3em;
    }

    .sectionHeader {
        margin-bottom: 1em !important;
        padding-bottom: 1em !important;
    }

    .about__inner h1 {
        margin-bottom: 1em;
    }

    .sectionHeader__title {
        font-size: 20px;
    }

    .sectionHeader__link {
        font-size: 14px;
    }

    .product {
        padding-top: 3.3em !important;
    }

    // index page start
    .menu {
        &__content {
            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .hero {
        padding-top: 0;

        &__sidebar {
            display: none;
        }

        &__content {
            margin: 0 -15px;
            width: calc(100% + 30px);
            height: unset;

            & .prev {
                left: 0;
            }

            & .next {
                right: 0;
            }
        }

        &__slider {
            width: 100%;
            height: unset;

            &-item {
                height: unset;
            }
        }
    }

    .product {
        font-size: 12px;

        &__row {
            .card {
                width: calc(33% - 2.4em - 2px);
            }
        }
    }

    // index page end
    // header start
    .header {
        padding: 0;

        &__logo {
            width: 100px;
        }

        &__inner {
            padding: 20px 0;
        }

        &__column {
            width: 100%;
            margin-right: 0;
            justify-content: space-between;

            &:last-child {
                display: none;
            }
        }
    }

    .upheader {
        display: none;
    }

    .menu {
        &__content.ham {
            position: fixed;
            top: 0;
            right: 0;
            left: unset;
            width: 50%;
            height: 100%;
        }

        &__btn.ham {
            span {
                display: none;
            }

            width: unset;
            height: unset;
        }
    }

    // header end
    // sale start
    .sale {
        padding-top: 3.3em;

        &__slider {
            &-item {
                height: unset;
            }
        }
    }

    // sale end
    // category page start
    .category {
        padding-top: 3.3em;
        font-size: 12px;

        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        &__inner {
            .sidebar {
                width: 100%;

                &__banner {
                    display: none;
                }
            }

            .product {
                width: 100%;
                margin-left: 0;
                margin-top: 3em;

                &__row .card {
                    width: calc(33.3% - 2.4em - 2px);
                }
            }
        }
    }

    // category page end
    // detail page start
    .detail {
        padding-top: 3.3em;

        &__slider {
            width: 100%;
            margin-right: 0;

            &-outer {
                width: 100%;
                flex-direction: column;
                -ms-flex-direction: column;
                height: unset;
            }

            &-item {
                height: unset;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            &-nav {
                display: none;
            }
        }

        &__content {
            margin-left: 0;
            width: 100%;
            padding: 50px 0;
        }
    }

    // detail page end
    .delivery {
        padding-top: 3.3em;
    }

    .basket {
        padding-top: 3.3em;
    }
}

@include md-lg {

    // index page start
    .product {
        font-size: 10px;

        &__row {
            .card {
                width: calc(50% - 2.4em - 2px);
            }
        }
    }

    .sale {
        .prev__s {
            left: 0;
        }

        .next__s {
            right: 0;
        }
    }

    .brand {
        .prev__b {
            left: 0;
        }

        .next__b {
            right: 0;
        }
    }

    // index page end
    // category page start
    .sectionHeader__title {
        font-size: 14px;
    }

    .category {
        padding-top: 3em;

        &__inner {
            .product {
                width: 100%;
                margin-left: 0;
                margin-top: 3em;

                &__row .card {
                    width: calc(50% - 2.4em - 2px);
                }
            }

            .sidebar {
                &__btn {
                    padding: 20px 0;
                    margin: 0 20px;
                }
            }
        }
    }

    // category page end
    .delivery {
        &__form {
            &-row {
                flex-direction: column;
                -ms-flex-direction: column;
                margin: 0;
            }

            &-column {
                width: 100%;
                margin: 1em 0;

                &:last-child {
                    margin: 1em 0;

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@include sm-md {
    .menu__content.ham {
        width: 100%;
    }

    // footer page end
    .footer__copyright {
        font-size: 14px;
    }

    // footer page end
    // modal start
    .modal {
        &__inner {
            max-width: unset;
            top: 0;
            left: 0;
            height: 100%;
            @include transformReset;
        }

        &__header {
            border-radius: 0;

            &-btn {
                border-radius: 0;
                font-size: 18px;
            }
        }

        &__event {
            padding: 15px;
        }
    }

    // modal end
}

@include xsm-sm {

    // index page start
    .product {
        font-size: 13px;

        &__row {
            margin: 1.2em 0;

            .card {
                width: 100%;
                margin: 1em 0;
            }
        }
    }

    // index page end
    .category {
        &__inner {
            .product {
                margin: 3em 0 0 0;

                &__row .card {
                    width: 100%;
                    margin: 1em 0;
                }
            }
        }
    }

    // category page end
}