@include xxxlg-xxxxlg {

    //
    .category {
        font-size: 12px;

        &__inner {
            .product__row .card {
                width: calc(33.3% - 2.4em - 2px);
            }

            // .sidebar {
            //   width: 25rem;
            // }
        }
    }
}

@include xxlg-xxxlg {

    // header start
    .header {
        &__logo {
            width: 120px;

            img {
                width: 100%;
            }
        }

        &__column {
            width: 250px;
            margin-right: 30px;

            &:last-child {
                width: calc(100% - 270px);
                margin-right: 0;
            }

            &-row {
                margin-left: 15px;
            }
        }
    }

    .dropdown {
        &__btn {
            width: 60px;

            i {
                font-size: 16px;
            }
        }
    }

    // header end
    // index page start
    .product {
        font-size: 10px;

        &__row {
            .card {
                width: calc(20% - 2.4em - 2px);
            }
        }
    }

    // index page end
    .hero {
        font-size: 13px;

        &__slider {
            height: 35.6em;
            overflow: hidden;
        }
    }

    // basket page start
    .basket {
        .table {
            font-size: 12px;
        }
    }

    // basket page end
}

@include xxflg-xxxlg {
    .header {
        &__column {
            .searchbar {
                form {
                    width: 500px;
                }

                .my-col {
                    margin-right: 20px;

                    a {
                        padding: 10px 7px 6px !important;
                    }

                    .mini-cart-container {
                        padding: 0 7px;
                    }
                }
            }

            &:last-child {
                width: 100%;
            }
        }
    }

    .main-content-wrapper {
        margin-bottom: 35px;
    }
}

@include xlg-xxlg {
    .hero {
        font-size: 10px;

        &__slider {
            &-item {
                img {
                    @include fullImage;
                }
            }
        }
    }

    // index page start
    .product {
        font-size: 10px;

        &__row {
            .card {
                width: calc(25% - 2.4em - 2px);
            }
        }
    }

    // index page end
    // category page start
    .category {
        font-size: 12px;

        &__inner {
            .product__row .card {
                width: calc(50% - 2.4em - 2px);
            }
        }
    }

    // category page end
    // basket page start
    .basket {
        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        .table {
            font-size: 12px;
            width: 100%;

            &__row {
                flex-direction: column;
                -ms-flex-direction: column;
            }

            &__column {
                width: 100%;

                &-incriment {
                    justify-content: flex-start;
                    margin-left: 5px;
                }

                &-price {
                    text-align: left;
                }
            }
        }

        .sidebar {
            width: 100%;

            &__info {
                margin: 0 15px;

                &-column {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    // basket page end
    // delivery page start
    .delivery {
        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        .table {
            font-size: 12px;
            width: 100%;

            &__header {
                display: none;
            }

            &__row {
                flex-direction: column;
                -ms-flex-direction: column;
            }

            &__column {
                width: 100%;

                &-price {
                    text-align: right;
                    width: calc(100% - 6.6em);
                }

                &-quant {
                    text-align: center;
                    width: 6.6em;
                    font-weight: 700;
                    padding: 1em 0;
                }
            }
        }

        .sidebar {
            width: 100%;

            &__info {
                margin: 0 15px;

                &-column {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    // delivery page end
    // detail page start
    .detail {
        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        &__slider {
            width: calc(100% - 17em);

            &-outer {
                width: 100%;
            }

            &-item {
                img {
                    width: 50%;
                }
            }

            &-nav {
                width: 15em;

                &-item {
                    img {
                        width: 50%;
                    }
                }
            }
        }

        &__content {
            margin-left: 0;
            width: 100%;
            padding: 50px 0;
        }
    }

    // detail page end
}

@include xh-xxh {
    .modal {
        height: 100vh;

        &__inner {
            margin: 2em auto;
            top: 20px;
            @include transformReset;
            @include transformX;
        }
    }
}

@include lg-xlg {
    html {
        font-size: 10px;
    }

    .about {
        padding-top: 3.3em;
    }

    .sectionHeader {
        margin-bottom: 1em !important;
        padding-bottom: 1em !important;
    }

    .about__inner h1 {
        margin-bottom: 1em;
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    .sectionHeader__title {
        font-size: 20px;
    }

    .sectionHeader__link {
        font-size: 14px;
    }

    .product {
        padding-top: 3.3em !important;
    }

    .product-image-container {
        height: 160px;
    }

    .brand__slider-item-image {
        height: 90px;
    }

    // index page start
    .menu {
        &__content {
            &-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .hero {
        padding-top: 0;

        &__inner {
            display: flex;
            align-items: center;
            flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -o-flex-direction: column;
        }

        &__sidebar {
            width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 30px;

            &-inner {
                display: flex;
                align-items: center;
                overflow-x: auto;

                &-link {
                    width: 100%;
                    white-space: nowrap;
                }

                .card {
                    width: 100%;
                    min-width: auto;
                }
            }
        }

        &__content {
            margin: 0 -15px;
            width: calc(100% + 30px);
            height: unset;

            & .prev {
                left: 0;
            }

            & .next {
                right: 0;
            }
        }

        &__slider {
            width: 100%;
            height: unset;

            &-item {
                height: unset;
            }
        }
    }

    .product {
        font-size: 12px;

        &__row {
            .card {
                width: calc(33% - 2.4em - 2px);
            }
        }
    }

    // index page end
    // header start
    .header {
        padding: 0;
        margin-bottom: 50px;

        &::after {
            top: calc(100% + 10px);
        }

        &__logo {
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__inner {
            padding: 20px 0;
        }

        &__column {
            width: 100%;
            margin-right: 0;
            justify-content: space-between;

            .menu_burger,
            .cart {
                display: block;
                // z-index: 111;
            }

            &:last-child {
                justify-content: flex-end;
                width: auto;

                .searchbar {
                    display: none;
                }
            }
        }
    }

    .d-inline-block {
        display: block !important;
    }

    .welcome-content {
        padding: 0 !important;
    }

    .upheader {
        // display: none;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 110;
        background: rgba(0, 0, 0, .5);

        transition: all .1s linear;
        -ms-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -o-transition: all .1s linear;
        -webkit-transition: all .1s linear;

        &.active {
            right: 0;
        }

        &__inner {
            position: fixed;
            top: 0;
            right: -100%;
            height: 100%;
            align-items: unset;

            transition: all .2s linear;
            -ms-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -o-transition: all .2s linear;
            -webkit-transition: all .2s linear;


            flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            -moz-flex-direction: column-reverse;
            -o-flex-direction: column-reverse;
            -webkit-flex-direction: column-reverse;
            justify-content: flex-end;

            background: #fff;
            width: 50%;

            &.active {
                right: 0;
            }
        }

        &__nav {
            flex-direction: column;
            -ms-flex-direction: column;
            -moz-flex-direction: column;
            -o-flex-direction: column;
            -webkit-flex-direction: column;

            .mobile_link {
                display: block !important;
            }

            &-link {
                padding: 20px 30px;
                margin: 0 !important;
                border-bottom: 1px solid #da2d79;
                width: 100%;

                display: flex;
                align-items: center;

                i {
                    font-size: 17px;
                    margin-right: 10px !important;
                }
            }
        }

        &__language {
            padding: 20px 30px;
            border-bottom: 1px solid #da2d79;
            width: 100%;

            select {
                width: 90px;
            }
        }

        #account {
            .icon-user::before {
                margin-right: 10px;
            }

            .welcome-content {
                width: 100%;
            }
        }

        .account-modal {
            top: 45px !important;
            left: 50%;
            transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            width: calc(100% - 50px) !important;
        }
    }

    .menu {
        &__content.ham {
            position: fixed;
            top: 0;
            right: 0;
            left: unset;
            width: 50%;
            height: 100%;
        }

        &__btn.ham {
            span {
                display: none;
            }

            width: unset;
            height: unset;
        }
    }

    // header end
    // sale start
    .sale {
        padding-top: 3.3em;

        &__slider {
            &-item {
                height: unset;
            }
        }
    }

    // sale end
    // category page start
    .category {
        padding-top: 3.3em;
        font-size: 12px;

        &__inner {
            flex-direction: column;
            -ms-flex-direction: column;
        }

        &__inner {
            .sidebar {
                width: 100%;

                &__banner {
                    display: none;
                }
            }

            .product {
                width: 100%;
                margin-left: 0;
                margin-top: 3em;

                &__row .card {
                    width: calc(33.3% - 2.4em - 2px);
                }
            }
        }
    }

    // category page end
    // detail page start
    .detail {
        padding-top: 3.3em;

        &__slider {
            width: 100%;
            margin-right: 0;

            &-outer {
                width: 100%;
                flex-direction: column;
                -ms-flex-direction: column;
                height: unset;
            }

            &-item {
                height: unset;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            &-nav {
                display: none;
            }
        }

        &__content {
            margin-left: 0;
            width: 100%;
            padding: 50px 0;
        }
    }

    // detail page end
    .delivery {
        padding-top: 3.3em;
    }

    .basket {
        padding-top: 3.3em;
    }
}

@include md-lg {

    // index page start
    .product {
        font-size: 10px;

        &__row {
            .card {
                width: calc(50% - 2.4em - 2px);
            }
        }
    }

    .sale {
        .prev__s {
            left: 0;
        }

        .next__s {
            right: 0;
        }
    }

    .brand {
        .prev__b {
            left: 0;
        }

        .next__b {
            right: 0;
        }
    }

    // index page end
    // category page start
    .sectionHeader__title {
        font-size: 14px;
    }

    .category {
        padding-top: 3em;

        &__inner {
            .product {
                width: 100%;
                margin-left: 0;
                margin-top: 3em;

                &__row .card {
                    width: calc(50% - 2.4em - 2px);
                }
            }

            .sidebar {
                &__btn {
                    padding: 20px 0;
                    margin: 0 20px;
                }
            }
        }
    }

    // category page end
    .delivery {
        &__form {
            &-row {
                flex-direction: column;
                -ms-flex-direction: column;
                margin: 0;
            }

            &-column {
                width: 100%;
                margin: 1em 0;

                &:last-child {
                    margin: 1em 0;

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .upheader__inner {
        width: 65%;
    }

    .category-container {
        padding: 0 !important;
    }

}

@include sm-md {
    .menu__content.ham {
        width: 100%;
    }

    // footer page end
    .footer__copyright {
        font-size: 14px;
    }

    // footer page end
    // modal start
    .modal {
        &__inner {
            max-width: unset;
            top: 0;
            left: 0;
            height: 100%;
            @include transformReset;
        }

        &__header {
            border-radius: 0;

            &-btn {
                border-radius: 0;
                font-size: 18px;
            }
        }

        &__event {
            padding: 15px;
        }
    }

    .product-image-container {
        height: 145px !important;
    }

    .upheader__inner {
        width: 80%;
    }

    // modal end
}

@include xsm-sm {

    // index page start
    .product {
        font-size: 13px;

        &__row {
            margin: 1.2em 0;

            .card {
                width: 100%;
                margin: 1em 0;
            }
        }
    }

    // index page end
    .category {
        &__inner {
            .product {
                margin: 3em 0 0 0;

                &__row .card {
                    width: 100%;
                    margin: 1em 0;
                }
            }
        }
    }

    // category page end
}