@font-face {
    font-family: 'sot-set';
    src: url('fonts/sot-set.eot?pdd3ga');
    src: url('fonts/sot-set.eot?pdd3ga#iefix') format('embedded-opentype'),
        url('fonts/sot-set.ttf?pdd3ga') format('truetype'),
        url('fonts/sot-set.woff?pdd3ga') format('woff'),
        url('fonts/sot-set.svg?pdd3ga#sot-set') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="sot-set-"],
[class*=" sot-set-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sot-set' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sot-set-vk:before {
    content: "\e900";
    color: #fff;
}

.sot-set-telegram:before {
    content: "\e901";
    color: #fff;
}

.sot-set-odnoklassniki:before {
    content: "\e902";
    color: #fff;
}